.loading-center { display: flex; justify-content: center; padding: 64px; }
.table-responsive { overflow-x: auto; }
.mat-table-full { width: 100%; }

.badge mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
